#home {
  background-image: url("http://i975.photobucket.com/albums/ae238/lepancakefairy/home_zps63czdpua.png");
  height: 40px;
  width: 72px;
  display: inline-block;
  position: fixed;
  top: 10%;
  left: 40%;
  z-index: 1000; 
}

#about {
  background-image: url("http://i975.photobucket.com/albums/ae238/lepancakefairy/about_zpsiohyqttn.jpg");
  height: 40px;
  width: 84px;
  display: inline-block;
  position: fixed;
  top: 10%;
  left: 45.5%;
  z-index: 1000; 
}

#portfolio {
  background-image: url("http://i975.photobucket.com/albums/ae238/lepancakefairy/portfo_zpsjuhy9gfz.png");
  height: 40px;
  width: 121px;
  display: inline-block;
    position: fixed;
  top: 10%;
  left: 51.5%;
  z-index: 1000; 
}

#contact {
  background-image: url('http://i975.photobucket.com/albums/ae238/lepancakefairy/contact_zpsi7nrjtqy.jpg');
  height: 40px;
  width: 102px;
  display: inline-block;
    position: fixed;
  top: 10%;
  left: 60.2%;
  z-index: 1000; 
}

#homeimg {
  background-image: url('backimg.jpg');
  height: 444px;
  width: 431px;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 17%;
  left: 38%;
}

#face {
background-image: url('aboutpageface.jpg');
background-position: 10% 60%;
}

#cornerleft { 
    background-image: url('pageleftcorner.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top; 
}

#contactb {
  background-image: url('contactback.jpg');
  height: 1020px;
  width: 1020px;
  background-position: left top;
  background-repeat: no-repeat;
  position: fixed;
  top: -29%;
  left: -1%;
}

#twitter {
background-image: url('twitter.jpg');
height: 60px;
width: 60px;
background-repeat: no-repeat;
position: fixed;
top: 40%;
left: 45%;
z-index: 1000;
}

#facebook {
background-image: url('facebook.jpg');
height: 60px;
width: 60px;
background-repeat: no-repeat;
position: fixed;
top: 40%;
left: 52%;
z-index: 1000;
}

#instagram {
background-image: url('instagram.jpg');
height: 60px;
width: 60px;
background-repeat: no-repeat;
position: fixed;
top: 40%;
left: 59%;
z-index: 1000;
}